In [72]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('BDAS').getOrCreate()

In [73]:
df = spark.read.load("./Pre-HumanHappiness - bdas 1.csv", format="csv", header="true")

In [74]:
df.na.drop().count()

1542

In [75]:
from pyspark.sql import functions as psf
df.filter(psf.col("Rule of Law").isNotNull())

DataFrame[Year: string, Countries: string, Region: string, HUMAN FREEDOM (Score): string, HUMAN FREEDOM (Rank): string, HUMAN FREEDOM (Quartile): string, Rule of Law: string, Disappearances, Conflicts, and Terrorism: string, Women Security & Safety: string, Security & Safety: string, Women Movement: string, Movement: string, Legal and Regulatory Restrictions: string, State Control over Internet Access: string, Expression & Information: string, Same Sex Relationships: string, Divorce: string, PERSONAL FREEDOM (Score): string, PERSONAL FREEDOM (Rank): string, Government  enterprises and investment: string, Top marginal income tax rate: string, Legal enforcement of contracts: string, Reliability of police: string, Gender Legal Rights Adjustment: string, Money growth: string, Inflation: Most recent year: string, Compliance costs of importing and exporting: string, Regulatory trade barriers: string, Foreign ownership/investment restrictions: string, Freedom to trade internationally: string, Hiring regulations and minimum wage: string, Labour market regulations: string, Licensing restrictions: string, Business regulations: string, ECONOMIC FREEDOM (Score): string, ECONOMIC FREEDOM (Rank): string]

# 3.5 Formating data

In [76]:
#Changing datatype of numeric values (from string to int)
from pyspark.sql.types import IntegerType
df = df.withColumn("Year", df["Year"].cast(IntegerType()))
df = df.withColumn("HUMAN FREEDOM (Score)", df["HUMAN FREEDOM (Score)"].cast(IntegerType()))
df = df.withColumn("HUMAN FREEDOM (Rank)", df["HUMAN FREEDOM (Rank)"].cast(IntegerType()))
df = df.withColumn("HUMAN FREEDOM (Quartile)", df["HUMAN FREEDOM (Quartile)"].cast(IntegerType()))
df = df.withColumn("Rule of Law", df["Rule of Law"].cast(IntegerType()))
df = df.withColumn("Disappearances, Conflicts, and Terrorism", df["Disappearances, Conflicts, and Terrorism"].cast(IntegerType()))
df = df.withColumn("Women Security & Safety", df["Women Security & Safety"].cast(IntegerType()))
df = df.withColumn("Security & Safety", df["Security & Safety"].cast(IntegerType()))
df = df.withColumn("Women Movement", df["Women Movement"].cast(IntegerType()))
df = df.withColumn("Movement", df["Movement"].cast(IntegerType()))
df = df.withColumn("Legal and Regulatory Restrictions", df["Legal and Regulatory Restrictions"].cast(IntegerType()))
df = df.withColumn("State Control over Internet Access", df["State Control over Internet Access"].cast(IntegerType()))
df = df.withColumn("Expression & Information", df["Expression & Information"].cast(IntegerType()))
df = df.withColumn("Same Sex Relationships", df["Same Sex Relationships"].cast(IntegerType()))
df = df.withColumn("Divorce", df["Divorce"].cast(IntegerType()))
df = df.withColumn("PERSONAL FREEDOM (Score)", df["PERSONAL FREEDOM (Score)"].cast(IntegerType()))
df = df.withColumn("PERSONAL FREEDOM (Rank)", df["PERSONAL FREEDOM (Rank)"].cast(IntegerType()))
df = df.withColumn("Government  enterprises and investment", df["Government  enterprises and investment"].cast(IntegerType()))
df = df.withColumn("Top marginal income tax rate", df["Top marginal income tax rate"].cast(IntegerType()))
df = df.withColumn("Legal enforcement of contracts", df["Legal enforcement of contracts"].cast(IntegerType()))
df = df.withColumn("Reliability of police", df["Reliability of police"].cast(IntegerType()))
df = df.withColumn("Gender Legal Rights Adjustment", df["Gender Legal Rights Adjustment"].cast(IntegerType()))
df = df.withColumn("Money growth", df["Money growth"].cast(IntegerType()))
df = df.withColumn("Inflation: Most recent year", df["Inflation: Most recent year"].cast(IntegerType()))
df = df.withColumn("Compliance costs of importing and exporting", df["Compliance costs of importing and exporting"].cast(IntegerType()))
df = df.withColumn("Regulatory trade barriers", df["Regulatory trade barriers"].cast(IntegerType()))
df = df.withColumn("Foreign ownership/investment restrictions", df["Foreign ownership/investment restrictions"].cast(IntegerType()))
df = df.withColumn("Freedom to trade internationally", df["Freedom to trade internationally"].cast(IntegerType()))
df = df.withColumn("Hiring regulations and minimum wage", df["Hiring regulations and minimum wage"].cast(IntegerType()))
df = df.withColumn("Labour market regulations", df["Labour market regulations"].cast(IntegerType()))
df = df.withColumn("Licensing restrictions", df["Licensing restrictions"].cast(IntegerType()))
df = df.withColumn("Business regulations", df["Business regulations"].cast(IntegerType()))
df = df.withColumn("ECONOMIC FREEDOM (Score)", df["ECONOMIC FREEDOM (Score)"].cast(IntegerType()))
df = df.withColumn("ECONOMIC FREEDOM (Rank)", df["ECONOMIC FREEDOM (Rank)"].cast(IntegerType()))

df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Countries: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- HUMAN FREEDOM (Score): integer (nullable = true)
 |-- HUMAN FREEDOM (Rank): integer (nullable = true)
 |-- HUMAN FREEDOM (Quartile): integer (nullable = true)
 |-- Rule of Law: integer (nullable = true)
 |-- Disappearances, Conflicts, and Terrorism: integer (nullable = true)
 |-- Women Security & Safety: integer (nullable = true)
 |-- Security & Safety: integer (nullable = true)
 |-- Women Movement: integer (nullable = true)
 |-- Movement: integer (nullable = true)
 |-- Legal and Regulatory Restrictions: integer (nullable = true)
 |-- State Control over Internet Access: integer (nullable = true)
 |-- Expression & Information: integer (nullable = true)
 |-- Same Sex Relationships: integer (nullable = true)
 |-- Divorce: integer (nullable = true)
 |-- PERSONAL FREEDOM (Score): integer (nullable = true)
 |-- PERSONAL FREEDOM (Rank): integer (nullable = true)
 |-- Government  enterprises and investment: integer (nullable = true)
 |-- Top marginal income tax rate: integer (nullable = true)
 |-- Legal enforcement of contracts: integer (nullable = true)
 |-- Reliability of police: integer (nullable = true)
 |-- Gender Legal Rights Adjustment: integer (nullable = true)
 |-- Money growth: integer (nullable = true)
 |-- Inflation: Most recent year: integer (nullable = true)
 |-- Compliance costs of importing and exporting: integer (nullable = true)
 |-- Regulatory trade barriers: integer (nullable = true)
 |-- Foreign ownership/investment restrictions: integer (nullable = true)
 |-- Freedom to trade internationally: integer (nullable = true)
 |-- Hiring regulations and minimum wage: integer (nullable = true)
 |-- Labour market regulations: integer (nullable = true)
 |-- Licensing restrictions: integer (nullable = true)
 |-- Business regulations: integer (nullable = true)
 |-- ECONOMIC FREEDOM (Score): integer (nullable = true)
 |-- ECONOMIC FREEDOM (Rank): integer (nullable = true)

In [77]:
import pyspark.sql.functions as F
from functools import reduce

# 2.4 Data Quality

In [78]:
#to find count of null values column-wise
df_null_count = reduce(
    lambda a, b: a.union(b),
    (
        df.agg(
            F.count(F.when(F.isnull(c), c)).alias('NULL_Count')
        ).select(F.lit(c).alias("Column_Name"), "NULL_Count")
        for c in df.columns
    )
)

In [79]:
df_null_count.show(36)

+--------------------+----------+
|         Column_Name|NULL_Count|
+--------------------+----------+
|                Year|         0|
|           Countries|         0|
|              Region|         0|
|HUMAN FREEDOM (Sc...|         0|
|HUMAN FREEDOM (Rank)|         0|
|HUMAN FREEDOM (Qu...|         0|
|         Rule of Law|         5|
|Disappearances, C...|         0|
|Women Security & ...|         7|
|   Security & Safety|         0|
|      Women Movement|         6|
|            Movement|         0|
|Legal and Regulat...|         7|
|State Control ove...|         0|
|Expression & Info...|         6|
|Same Sex Relation...|         5|
|             Divorce|         5|
|PERSONAL FREEDOM ...|         0|
|PERSONAL FREEDOM ...|         0|
|Government  enter...|         0|
|Top marginal inco...|         0|
|Legal enforcement...|         8|
|Reliability of po...|         8|
|Gender Legal Righ...|         0|
|        Money growth|         0|
|Inflation: Most r...|         0|
|Compliance costs ...|         0|
|Regulatory trade ...|         0|
|Foreign ownership...|         0|
|Freedom to trade ...|         0|
|Hiring regulation...|         0|
|Labour market reg...|         0|
|Licensing restric...|         0|
|Business regulations|         0|
|ECONOMIC FREEDOM ...|         0|
|ECONOMIC FREEDOM ...|         0|
+--------------------+----------+

In [80]:
#Counting number of columns of dataset1
len(df.columns)

36

# 3.3 Constructing new Data

In [81]:
#3.3
#creating new colum '' for calculating total number of schools
df = df.withColumn('Security_total', df['Women Security & Safety']+df['Security & Safety'])
df.select('Security_total').show()

+--------------+
|Security_total|
+--------------+
|          null|
|          null|
|          null|
|          null|
|          null|
|          null|
|          null|
|            19|
|            16|
|            12|
|            12|
|            18|
|            19|
|            19|
|            16|
|            15|
|            19|
|            16|
|            17|
|            15|
+--------------+
only showing top 20 rows

In [52]:
df.columns

['Year',
 'Countries',
 'Region',
 'HUMAN FREEDOM (Score)',
 'HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)',
 'Rule of Law',
 'Disappearances, Conflicts, and Terrorism',
 'Women Security & Safety',
 'Security & Safety',
 'Women Movement',
 'Movement',
 'Legal and Regulatory Restrictions',
 'State Control over Internet Access',
 'Expression & Information',
 'Same Sex Relationships',
 'Divorce',
 'PERSONAL FREEDOM (Score)',
 'PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment',
 'Top marginal income tax rate',
 'Legal enforcement of contracts',
 'Reliability of police',
 'Gender Legal Rights Adjustment',
 'Money growth',
 'Inflation: Most recent year',
 'Compliance costs of importing and exporting',
 'Regulatory trade barriers',
 'Foreign ownership/investment restrictions',
 'Freedom to trade internationally',
 'Hiring regulations and minimum wage',
 'Labour market regulations',
 'Licensing restrictions',
 'Business regulations',
 'ECONOMIC FREEDOM (Score)',
 'ECONOMIC FREEDOM (Rank)',
 'Security_total']

# filling null values with mean

In [133]:
df.select('Year','Countries','Same Sex Relationships','Rule of Law','Women Security & Safety','Women Movement','Legal and Regulatory Restrictions','Expression & Information','Divorce','Legal enforcement of contracts','Reliability of police').show(10)

+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
|Year| Countries|Same Sex Relationships|Rule of Law|Women Security & Safety|Women Movement|Legal and Regulatory Restrictions|Expression & Information|Divorce|Legal enforcement of contracts|Reliability of police|
+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
|2017|   Albania|                  null|       null|                   null|          null|                             null|                       8|   null|                             4|                    6|
|2017|   Algeria|                  null|       null|                   null|          null|                             null|                       7|   null|                             4|                    6|
|2017|    Angola|                  null|       null|                   null|          null|                             null|                       6|   null|                             2|                    3|
|2017| Argentina|                  null|       null|                   null|          null|                             null|                       8|   null|                             3|                    3|
|2017|   Armenia|                  null|       null|                   null|          null|                             null|                       7|   null|                             5|                    5|
|2017| Australia|                     5|          7|                   null|          null|                             null|                       9|     10|                             6|                    8|
|2017|   Austria|                    10|          8|                   null|            10|                             null|                       9|     10|                             6|                    8|
|2017|Azerbaijan|                     0|          4|                     10|            10|                                5|                       4|      7|                             7|                    6|
|2017|   Bahamas|                    10|          6|                     10|            10|                                6|                       8|     10|                             4|                    0|
|2017|   Bahrain|                     5|          5|                      5|             2|                                4|                       4|      0|                             4|                    7|
+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
only showing top 10 rows

In [139]:
from pyspark.sql.functions import mean
#Finding the mean of column Same Sex Relationships
mean_value = df.select(mean(df['Same Sex Relationships'])).collect()

#filling the missing value with the mean.
mean_Same_Sex_Relationships_value = mean_value[0][0]
df_na = df.na.fill(mean_Same_Sex_Relationships_value, subset=['Same Sex Relationships'])

In [140]:
df_na.filter(df_na['Year'] == '2017').select('Year','Countries','Same Sex Relationships').show(10)

+----+----------+----------------------+
|Year| Countries|Same Sex Relationships|
+----+----------+----------------------+
|2017|   Albania|                     7|
|2017|   Algeria|                     7|
|2017|    Angola|                     7|
|2017| Argentina|                     7|
|2017|   Armenia|                     7|
|2017| Australia|                     5|
|2017|   Austria|                    10|
|2017|Azerbaijan|                     0|
|2017|   Bahamas|                    10|
|2017|   Bahrain|                     5|
+----+----------+----------------------+
only showing top 10 rows

In [56]:
#Counting number of columns of dataset1
len(df.columns)

37

# 3.4 integrating data

In [ ]:
#merging 2 data sets
#Loading datasets
dataset1 = spark.read.csv('HumanHappiness - bdas 1 (Dataset 1).csv', inferSchema=True, header=True)
dataset2 = spark.read.csv('HumanHappiness - bdas 1 (Dataset 2).csv', inferSchema=True, header=True)
#Printing the types of attributes
dataset1.printSchema()
dataset2.printSchema()

In [101]:
#Counting number of rows of dataset1
dataset1.count()

1569

In [105]:
#Counting number of columns of dataset1
len(dataset1.columns)

18

In [106]:
#Counting number of rows of dataset2
dataset2.count()

1569

In [107]:
#Counting number of columns of dataset2
len(dataset2.columns)

18

In [108]:
#Appending two datasets
concat = dataset1.union(dataset2)
concat.show()

+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+
|Year|           Countries|              Region|HUMAN FREEDOM (Score)|HUMAN FREEDOM (Rank)|HUMAN FREEDOM (Quartile)|Rule of Law|Disappearances, Conflicts, and Terrorism|Women Security & Safety|Security & Safety|Women Movement|Legal and Regulatory Restrictions|State Control over Internet Access|Expression & Information|Same Sex Relationships|Divorce|PERSONAL FREEDOM (Score)|PERSONAL FREEDOM (Rank)|
+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+
|2017|             Albania|      Eastern Europe|                 7.84|                38.0|                     1.0|       null|                                    10.0|                   null|      9.276666667|          null|                             null|                              10.0|             8.607142857|                  null|   null|             8.005411457|                     46|
|2017|             Algeria|Middle East & Nor...|                 4.99|               155.0|                     4.0|       null|                             8.865434414|                   null|      7.773896003|          null|                             null|                               7.5|             7.311802542|                  null|   null|             5.201489165|                    146|
|2017|              Angola|   SubSaharan Africa|                  5.4|               151.0|                     4.0|       null|                             8.876403002|                   null|      8.145554414|          null|                             null|                               7.5|             6.452380952|                  null|   null|             5.979935733|                    121|
|2017|           Argentina|Latin America & t...|                 6.86|                77.0|                     2.0|       null|                                     8.5|                   null|             8.82|          null|                             null|                              10.0|             8.738095238|                  null|   null|             8.044599873|                     41|
|2017|             Armenia|Caucasus & Centra...|                 7.42|                54.0|                     2.0|       null|                                     9.5|                   null|      9.096666667|          null|                             null|                               7.5|             7.154761905|                  null|   null|             7.145017434|                     72|
|2017|           Australia|             Oceania|                 8.62|                 5.0|                     1.0| 7.77627878|                             9.955016951|                   null|      9.878338984|          null|                             null|                              10.0|             9.392857143|                   5.0|   10.0|             9.160532748|                     12|
|2017|             Austria|      Western Europe|                 8.48|                13.0|                     1.0|8.171748815|                             9.984844293|                   null|      9.907585478|          10.0|                             null|                              10.0|             9.333333333|                  10.0|   10.0|             9.245685425|                      8|
|2017|          Azerbaijan|Caucasus & Centra...|                 6.22|               121.0|                     3.0|4.291270376|                             9.214499299|                   10.0|      9.471499766|          10.0|                      5.461111111|                               7.5|             4.011904762|                   0.0|    7.5|              6.10466079|                    119|
|2017|             Bahamas|Latin America & t...|                 7.56|                48.0|                     2.0|6.400790273|                                    10.0|                   10.0|      6.666666667|          10.0|                      6.433333333|                               0.0|             8.895833333|                  10.0|   10.0|             7.871204513|                     48|
|2017|             Bahrain|Middle East & Nor...|                 6.63|                95.0|                     3.0|5.898037535|                             7.535230178|                    5.0|      7.441903866|           2.5|                      4.022222222|                               2.5|             4.130952381|                   5.0|    0.0|             5.910895403|                    126|
|2017|          Bangladesh|          South Asia|                 5.77|               138.0|                     4.0|3.132892486|                             6.953118287|                    5.0|      7.024372762|          10.0|                      4.211111111|                               7.5|             6.995904411|                   5.0|    0.0|              5.36557342|                    142|
|2017|            Barbados|Latin America & t...|                 7.02|                66.0|                     2.0|6.699287431|                                    10.0|                   10.0|              8.6|           2.5|                      7.544444444|                               0.0|                    null|                   0.0|   10.0|             7.589752413|                     57|
|2017|             Belarus|      Eastern Europe|                 6.65|                92.0|                     3.0|5.128924941|                                     9.0|                   10.0|      9.188711522|          10.0|                      4.488888889|                               5.0|                    null|                  10.0|   10.0|             6.659028163|                     91|
|2017|             Belgium|      Western Europe|                 8.29|                23.0|                     1.0|7.751100945|                             9.981257603|                   10.0|      9.767085868|          10.0|                      6.061111111|                              10.0|                    null|                  10.0|   10.0|             9.067694851|                     14|
|2017|              Belize|Latin America & t...|                 6.95|                68.0|                     2.0|4.268872009|                                    10.0|                   10.0|      6.666666667|           2.5|                      8.516666667|                               0.0|                    null|                  10.0|   10.0|             7.118363836|                     74|
|2017|               Benin|   SubSaharan Africa|                 6.77|                85.0|                     3.0|4.180309414|                                     9.5|                   7.05|      8.703333333|           2.5|                      9.633333333|                              10.0|                    null|                  10.0|    7.5|             7.469386877|                     62|
|2017|              Bhutan|          South Asia|                 6.53|               105.0|                     3.0|6.187897766|                                     9.5|                   10.0|             9.62|          10.0|                      5.088888889|                               0.0|                    null|                   0.0|    2.5|             6.286279997|                    111|
|2017|             Bolivia|Latin America & t...|                 6.61|                97.0|                     3.0|3.051401851|                                     9.5|                   8.75|      8.576641171|          10.0|                      8.933333333|                              10.0|             8.416666667|                  10.0|   10.0|              7.07482557|                     75|
|2017|Bosnia and Herzeg...|      Eastern Europe|                 7.37|                55.0|                     2.0|5.470080395|                                     9.0|                   8.75|             9.09|          10.0|                      7.127777778|                              10.0|             8.654761905|                  10.0|   10.0|             8.040348141|                     42|
|2017|            Botswana|   SubSaharan Africa|                 7.17|                60.0|                     2.0|5.641683932|                                    10.0|                   8.75|      7.578237213|           2.5|                      8.238888889|                               0.0|                  7.8125|                   0.0|    5.0|             6.970084453|                     81|
+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+
only showing top 20 rows

# 3.1 Data Selection

In [110]:
#Dropping column 'id'
df.drop('Movement', 'Reliability of police', 'Licensing restrictions').columns

['Year',
 'Countries',
 'Region',
 'HUMAN FREEDOM (Score)',
 'HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)',
 'Rule of Law',
 'Disappearances, Conflicts, and Terrorism',
 'Women Security & Safety',
 'Security & Safety',
 'Women Movement',
 'Legal and Regulatory Restrictions',
 'State Control over Internet Access',
 'Expression & Information',
 'Same Sex Relationships',
 'Divorce',
 'PERSONAL FREEDOM (Score)',
 'PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment',
 'Top marginal income tax rate',
 'Legal enforcement of contracts',
 'Gender Legal Rights Adjustment',
 'Money growth',
 'Inflation: Most recent year',
 'Compliance costs of importing and exporting',
 'Regulatory trade barriers',
 'Foreign ownership/investment restrictions',
 'Freedom to trade internationally',
 'Hiring regulations and minimum wage',
 'Labour market regulations',
 'Business regulations',
 'ECONOMIC FREEDOM (Score)',
 'ECONOMIC FREEDOM (Rank)',
 'Security_total']