In [2]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('BDAS').getOrCreate()

In [3]:
df = spark.read.load("./Pre-HumanHappiness - bdas 1.csv", format="csv", header=True, inferSchema=True)

In [4]:
df.na.drop().count()

1542

In [5]:
from pyspark.sql import functions as psf
df.filter(psf.col("Rule of Law").isNotNull())

DataFrame[Year: int, Countries: string, Region: string, HUMAN FREEDOM (Score): double, HUMAN FREEDOM (Rank): int, HUMAN FREEDOM (Quartile): int, Rule of Law: double, Disappearances, Conflicts, and Terrorism: double, Women Security & Safety: double, Security & Safety: double, Women Movement: double, Movement: double, Legal and Regulatory Restrictions: double, State Control over Internet Access: double, Expression & Information: double, Same Sex Relationships: int, Divorce: double, PERSONAL FREEDOM (Score): double, PERSONAL FREEDOM (Rank): int, Government  enterprises and investment: int, Top marginal income tax rate: int, Legal enforcement of contracts: double, Reliability of police: double, Gender Legal Rights Adjustment: double, Money growth: double, Inflation: Most recent year: double, Compliance costs of importing and exporting: double, Regulatory trade barriers: double, Foreign ownership/investment restrictions: double, Freedom to trade internationally: double, Hiring regulations and minimum wage: double, Labour market regulations: double, Licensing restrictions: double, Business regulations: double, ECONOMIC FREEDOM (Score): double, ECONOMIC FREEDOM (Rank): int]

In [6]:
import matplotlib as mpl
import matplotlib.pyplot as plt

# for some basic operatios
import numpy as np 
import pandas as pd 


# for visualizations
import matplotlib.pyplot as plt

gArr = np.array(df.select('Business regulations').collect())
plt.hist(gArr)
plt.show()

# 3.5 Formating data

In [7]:
#Changing datatype of numeric values (from string to int)
from pyspark.sql.types import IntegerType
df = df.withColumn("Year", df["Year"].cast(IntegerType()))
df = df.withColumn("HUMAN FREEDOM (Score)", df["HUMAN FREEDOM (Score)"].cast(IntegerType()))
df = df.withColumn("HUMAN FREEDOM (Rank)", df["HUMAN FREEDOM (Rank)"].cast(IntegerType()))
df = df.withColumn("HUMAN FREEDOM (Quartile)", df["HUMAN FREEDOM (Quartile)"].cast(IntegerType()))
df = df.withColumn("Rule of Law", df["Rule of Law"].cast(IntegerType()))
df = df.withColumn("Disappearances, Conflicts, and Terrorism", df["Disappearances, Conflicts, and Terrorism"].cast(IntegerType()))
df = df.withColumn("Women Security & Safety", df["Women Security & Safety"].cast(IntegerType()))
df = df.withColumn("Security & Safety", df["Security & Safety"].cast(IntegerType()))
df = df.withColumn("Women Movement", df["Women Movement"].cast(IntegerType()))
df = df.withColumn("Movement", df["Movement"].cast(IntegerType()))
df = df.withColumn("Legal and Regulatory Restrictions", df["Legal and Regulatory Restrictions"].cast(IntegerType()))
df = df.withColumn("State Control over Internet Access", df["State Control over Internet Access"].cast(IntegerType()))
df = df.withColumn("Expression & Information", df["Expression & Information"].cast(IntegerType()))
df = df.withColumn("Same Sex Relationships", df["Same Sex Relationships"].cast(IntegerType()))
df = df.withColumn("Divorce", df["Divorce"].cast(IntegerType()))
df = df.withColumn("PERSONAL FREEDOM (Score)", df["PERSONAL FREEDOM (Score)"].cast(IntegerType()))
df = df.withColumn("PERSONAL FREEDOM (Rank)", df["PERSONAL FREEDOM (Rank)"].cast(IntegerType()))
df = df.withColumn("Government  enterprises and investment", df["Government  enterprises and investment"].cast(IntegerType()))
df = df.withColumn("Top marginal income tax rate", df["Top marginal income tax rate"].cast(IntegerType()))
df = df.withColumn("Legal enforcement of contracts", df["Legal enforcement of contracts"].cast(IntegerType()))
df = df.withColumn("Reliability of police", df["Reliability of police"].cast(IntegerType()))
df = df.withColumn("Gender Legal Rights Adjustment", df["Gender Legal Rights Adjustment"].cast(IntegerType()))
df = df.withColumn("Money growth", df["Money growth"].cast(IntegerType()))
df = df.withColumn("Inflation: Most recent year", df["Inflation: Most recent year"].cast(IntegerType()))
df = df.withColumn("Compliance costs of importing and exporting", df["Compliance costs of importing and exporting"].cast(IntegerType()))
df = df.withColumn("Regulatory trade barriers", df["Regulatory trade barriers"].cast(IntegerType()))
df = df.withColumn("Foreign ownership/investment restrictions", df["Foreign ownership/investment restrictions"].cast(IntegerType()))
df = df.withColumn("Freedom to trade internationally", df["Freedom to trade internationally"].cast(IntegerType()))
df = df.withColumn("Hiring regulations and minimum wage", df["Hiring regulations and minimum wage"].cast(IntegerType()))
df = df.withColumn("Labour market regulations", df["Labour market regulations"].cast(IntegerType()))
df = df.withColumn("Licensing restrictions", df["Licensing restrictions"].cast(IntegerType()))
df = df.withColumn("Business regulations", df["Business regulations"].cast(IntegerType()))
df = df.withColumn("ECONOMIC FREEDOM (Score)", df["ECONOMIC FREEDOM (Score)"].cast(IntegerType()))
df = df.withColumn("ECONOMIC FREEDOM (Rank)", df["ECONOMIC FREEDOM (Rank)"].cast(IntegerType()))

df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Countries: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- HUMAN FREEDOM (Score): integer (nullable = true)
 |-- HUMAN FREEDOM (Rank): integer (nullable = true)
 |-- HUMAN FREEDOM (Quartile): integer (nullable = true)
 |-- Rule of Law: integer (nullable = true)
 |-- Disappearances, Conflicts, and Terrorism: integer (nullable = true)
 |-- Women Security & Safety: integer (nullable = true)
 |-- Security & Safety: integer (nullable = true)
 |-- Women Movement: integer (nullable = true)
 |-- Movement: integer (nullable = true)
 |-- Legal and Regulatory Restrictions: integer (nullable = true)
 |-- State Control over Internet Access: integer (nullable = true)
 |-- Expression & Information: integer (nullable = true)
 |-- Same Sex Relationships: integer (nullable = true)
 |-- Divorce: integer (nullable = true)
 |-- PERSONAL FREEDOM (Score): integer (nullable = true)
 |-- PERSONAL FREEDOM (Rank): integer (nullable = true)
 |-- Government  enterprises and investment: integer (nullable = true)
 |-- Top marginal income tax rate: integer (nullable = true)
 |-- Legal enforcement of contracts: integer (nullable = true)
 |-- Reliability of police: integer (nullable = true)
 |-- Gender Legal Rights Adjustment: integer (nullable = true)
 |-- Money growth: integer (nullable = true)
 |-- Inflation: Most recent year: integer (nullable = true)
 |-- Compliance costs of importing and exporting: integer (nullable = true)
 |-- Regulatory trade barriers: integer (nullable = true)
 |-- Foreign ownership/investment restrictions: integer (nullable = true)
 |-- Freedom to trade internationally: integer (nullable = true)
 |-- Hiring regulations and minimum wage: integer (nullable = true)
 |-- Labour market regulations: integer (nullable = true)
 |-- Licensing restrictions: integer (nullable = true)
 |-- Business regulations: integer (nullable = true)
 |-- ECONOMIC FREEDOM (Score): integer (nullable = true)
 |-- ECONOMIC FREEDOM (Rank): integer (nullable = true)

In [8]:
import pyspark.sql.functions as F
from functools import reduce

In [9]:
df.show()

+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+--------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+--------------------------------------+----------------------------+------------------------------+---------------------+------------------------------+------------+---------------------------+-------------------------------------------+-------------------------+-----------------------------------------+--------------------------------+-----------------------------------+-------------------------+----------------------+--------------------+------------------------+-----------------------+
|Year|           Countries|              Region|HUMAN FREEDOM (Score)|HUMAN FREEDOM (Rank)|HUMAN FREEDOM (Quartile)|Rule of Law|Disappearances, Conflicts, and Terrorism|Women Security & Safety|Security & Safety|Women Movement|Movement|Legal and Regulatory Restrictions|State Control over Internet Access|Expression & Information|Same Sex Relationships|Divorce|PERSONAL FREEDOM (Score)|PERSONAL FREEDOM (Rank)|Government  enterprises and investment|Top marginal income tax rate|Legal enforcement of contracts|Reliability of police|Gender Legal Rights Adjustment|Money growth|Inflation: Most recent year|Compliance costs of importing and exporting|Regulatory trade barriers|Foreign ownership/investment restrictions|Freedom to trade internationally|Hiring regulations and minimum wage|Labour market regulations|Licensing restrictions|Business regulations|ECONOMIC FREEDOM (Score)|ECONOMIC FREEDOM (Rank)|
+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+--------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+--------------------------------------+----------------------------+------------------------------+---------------------+------------------------------+------------+---------------------------+-------------------------------------------+-------------------------+-----------------------------------------+--------------------------------+-----------------------------------+-------------------------+----------------------+--------------------+------------------------+-----------------------+
|2017|             Albania|      Eastern Europe|                    7|                  38|                       1|       null|                                      10|                   null|                9|          null|      10|                             null|                                10|                       8|                  null|   null|                       8|                     46|                                     8|                           9|                             4|                    6|                             0|           9|                          9|                                          9|                        7|                                        6|                               8|                                  5|                        6|                     6|                   6|                       7|                     30|
|2017|             Algeria|Middle East & Nor...|                    4|                 155|                       4|       null|                                       8|                   null|                7|          null|       5|                             null|                                 7|                       7|                  null|   null|                       5|                    146|                                     0|                           7|                             4|                    6|                             0|           6|                          8|                                          0|                        2|                                        3|                               2|                                  5|                        5|                     8|                   5|                       4|                    159|
|2017|              Angola|   SubSaharan Africa|                    5|                 151|                       4|       null|                                       8|                   null|                8|          null|       6|                             null|                                 7|                       6|                  null|   null|                       5|                    121|                                     6|                          10|                             2|                    3|                             0|           9|                          3|                                          2|                        3|                                        2|                               3|                                 10|                        5|                     8|                   4|                       4|                    158|
|2017|           Argentina|Latin America & t...|                    6|                  77|                       2|       null|                                       8|                   null|                8|          null|      10|                             null|                                10|                       8|                  null|   null|                       8|                     41|                                     6|                           7|                             3|                    3|                             0|           5|                          4|                                          5|                        4|                                        5|                               6|                                  2|                        5|                     5|                   5|                       5|                    147|
|2017|             Armenia|Caucasus & Centra...|                    7|                  54|                       2|       null|                                       9|                   null|                9|          null|       8|                             null|                                 7|                       7|                  null|   null|                       7|                     72|                                     8|                           5|                             5|                    5|                             1|           8|                          9|                                          9|                        7|                                        5|                               8|                                  6|                        6|                     9|                   6|                       7|                     27|
|2017|           Australia|             Oceania|                    8|                   5|                       1|          7|                                       9|                   null|                9|          null|      10|                             null|                                10|                       9|                     5|     10|                       9|                     12|                                    10|                           6|                             6|                    8|                             1|           8|                          9|                                          8|                        7|                                        6|                               7|                                  8|                        7|                     8|                   8|                       8|                      9|
|2017|             Austria|      Western Europe|                    8|                  13|                       1|          8|                                       9|                   null|                9|            10|      10|                             null|                                10|                       9|                    10|     10|                       9|                      8|                                    10|                           4|                             6|                    8|                             1|           8|                          9|                                          9|                        8|                                        6|                               8|                                  8|                        5|                     7|                   7|                       7|                     26|
|2017|          Azerbaijan|Caucasus & Centra...|                    6|                 121|                       3|          4|                                       9|                     10|                9|            10|       8|                                5|                                 7|                       4|                     0|      7|                       6|                    119|                                     0|                           9|                             7|                    6|                             0|           9|                          7|                                          8|                        7|                                        6|                               7|                                  8|                        6|                     9|                   7|                       6|                    116|
|2017|             Bahamas|Latin America & t...|                    7|                  48|                       2|          6|                                      10|                     10|                6|            10|      10|                                6|                                 0|                       8|                    10|     10|                       7|                     48|                                     7|                          10|                             4|                    0|                             0|           8|                          9|                                          8|                        7|                                        0|                               6|                                  8|                        8|                     7|                   7|                       7|                     58|
|2017|             Bahrain|Middle East & Nor...|                    6|                  95|                       3|          5|                                       7|                      5|                7|             2|       4|                                4|                                 2|                       4|                     5|      0|                       5|                    126|                                    10|                          10|                             4|                    7|                             0|           9|                          9|                                          6|                        6|                                        7|                               7|                                  8|                        7|                     8|                   8|                       7|                     50|
|2017|          Bangladesh|          South Asia|                    5|                 138|                       4|          3|                                       6|                      5|                7|            10|       6|                                4|                                 7|                       6|                     5|      0|                       5|                    142|                                     7|                           8|                             0|                    3|                             0|           9|                          8|                                          0|                        3|                                        5|                               5|                                 10|                        7|                     6|                   4|                       6|                    123|
|2017|            Barbados|Latin America & t...|                    7|                  66|                       2|          6|                                      10|                     10|                8|             2|       7|                                7|                                 0|                    null|                     0|     10|                       7|                     57|                                     6|                           7|                             3|                    0|                             0|           6|                          9|                                          5|                        5|                                        6|                               6|                                  8|                        8|                     4|                   6|                       6|                    112|
|2017|             Belarus|      Eastern Europe|                    6|                  92|                       3|          5|                                       9|                     10|                9|            10|       8|                                4|                                 5|                    null|                    10|     10|                       6|                     91|                                    10|                          10|                             6|                    0|                             0|           8|                          8|                                          9|                        7|                                        0|                               6|                                 10|                        7|                     8|                   7|                       6|                     99|
|2017|             Belgium|      Western Europe|                    8|                  23|                       1|          7|                                       9|                     10|                9|            10|      10|                                6|                                10|                    null|                    10|     10|                       9|                     14|                                    10|                           2|                             5|                    7|                             1|           8|                          9|                                          9|                        7|                                        7|                               8|                                  8|                        7|                     7|                   7|                       7|                     40|
|2017|              Belize|Latin America & t...|                    6|                  68|                       2|          4|                                      10|                     10|                6|             2|       7|                                8|                                 0|                    null|                    10|     10|                       7|                     74|                                     4|                           9|                             3|                    0|                             0|           9|                          9|                                          5|                        5|                                        7|                               6|                                  7|                        7|                     8|                   6|                       6|                     85|
|2017|               Benin|   SubSaharan Africa|                    6|                  85|                       3|          4|                                       9|                      7|                8|             2|       5|                                9|                                10|                    null|                    10|      7|                       7|                     62|                                     7|                           4|                          null|                    5|                             0|           7|                          9|                                          5|                        4|                                        5|                               6|                                  7|                        6|                     9|                   6|                       6|                    129|
|2017|              Bhutan|          South Asia|                    6|                 105|                       3|          6|                                       9|                     10|                9|            10|       3|                                5|                                 0|                    null|                     0|      2|                       6|                    111|                                     7|                           9|                          null|                    2|                             0|           8|                          9|                                          9|                        7|                                        3|                               6|                                 10|                        7|                     8|                   6|                       6|                     87|
|2017|             Bolivia|Latin America & t...|                    6|                  97|                       3|          3|                                       9|                      8|                8|            10|       8|                                8|                                10|                       8|                    10|     10|                       7|                     75|                                     0|                          10|                          null|                    2|                             0|           9|                          9|                                          3|                        3|                                        4|                               7|                                  1|                        3|                     5|                   3|                       6|                    126|
|2017|Bosnia and Herzeg...|      Eastern Europe|                    7|                  55|                       2|          5|                                       9|                      8|                9|            10|       8|                                7|                                10|                       8|                    10|     10|                       8|                     42|                                     4|                          10|                          null|                    4|                             0|           8|                          9|                                          9|                        7|                                        4|                               7|                                  5|                        7|                     7|                   5|                       6|                     92|

In [10]:
# Here's also a simple example of an ascending and descending sort by Year. 
df.orderBy('Year').show()

df.orderBy(df['Year'].desc()).show()

+----+-----------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+--------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+--------------------------------------+----------------------------+------------------------------+---------------------+------------------------------+------------+---------------------------+-------------------------------------------+-------------------------+-----------------------------------------+--------------------------------+-----------------------------------+-------------------------+----------------------+--------------------+------------------------+-----------------------+
|Year|        Countries|              Region|HUMAN FREEDOM (Score)|HUMAN FREEDOM (Rank)|HUMAN FREEDOM (Quartile)|Rule of Law|Disappearances, Conflicts, and Terrorism|Women Security & Safety|Security & Safety|Women Movement|Movement|Legal and Regulatory Restrictions|State Control over Internet Access|Expression & Information|Same Sex Relationships|Divorce|PERSONAL FREEDOM (Score)|PERSONAL FREEDOM (Rank)|Government  enterprises and investment|Top marginal income tax rate|Legal enforcement of contracts|Reliability of police|Gender Legal Rights Adjustment|Money growth|Inflation: Most recent year|Compliance costs of importing and exporting|Regulatory trade barriers|Foreign ownership/investment restrictions|Freedom to trade internationally|Hiring regulations and minimum wage|Labour market regulations|Licensing restrictions|Business regulations|ECONOMIC FREEDOM (Score)|ECONOMIC FREEDOM (Rank)|
+----+-----------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+--------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+--------------------------------------+----------------------------+------------------------------+---------------------+------------------------------+------------+---------------------------+-------------------------------------------+-------------------------+-----------------------------------------+--------------------------------+-----------------------------------+-------------------------+----------------------+--------------------+------------------------+-----------------------+
|2008|           Bhutan|          South Asia|                    1|                   0|                       0|          0|                                       0|                      0|                0|             0|       0|                                0|                                 0|                       0|                     0|      0|                       0|                      0|                                     0|                           0|                             0|                    0|                             0|           8|                          2|                                          0|                        0|                                        0|                               1|                                  0|                        0|                     0|                   0|                       1|                      0|
|2008|          Burundi|   SubSaharan Africa|                    5|                 124|                       4|          4|                                       5|                      7|                7|            10|       8|                                7|                                 0|                       6|                     0|     10|                       6|                    109|                                     2|                           0|                             2|                    2|                             0|           7|                          5|                                          1|                        2|                                        3|                               4|                                 10|                        7|                     2|                   4|                       5|                    133|
|2008|           Guinea|   SubSaharan Africa|                    1|                   0|                       0|          0|                                       0|                      0|                0|             0|       0|                                0|                                 0|                       0|                     0|      0|                       0|                      0|                                     0|                           0|                             0|                    0|                             0|           6|                          2|                                          0|                        0|                                        0|                               1|                                  0|                        0|                     0|                   0|                       1|                      0|
|2008|            Libya|Middle East & Nor...|                    1|                   0|                       0|          0|                                       0|                      0|                0|             0|       0|                                0|                                 0|                       0|                     0|      0|                       0|                      0|                                     0|                           0|                             0|                    0|                             0|           5|                          2|                                          0|                        0|                                        0|                               1|                                  0|                        0|                     0|                   0|                       1|                      0|
|2008|       Seychelles|   SubSaharan Africa|                    1|                   0|                       0|          0|                                       0|                      0|                0|             0|       0|                                0|                                 0|                       0|                     0|      0|                       0|                      0|                                     0|                           0|                             0|                    0|                             0|           7|                          2|                                          0|                        0|                                        0|                               1|                                  0|                        0|                     0|                   0|                       1|                      0|
|2008|       Tajikistan|Caucasus & Centra...|                    1|                   0|                       0|          0|                                       0|                      0|                0|             0|       0|                                0|                                 0|                       0|                     0|      0|                       0|                      0|                                     0|                           0|                             0|                    0|                             1|           4|                          2|                                          0|                        0|                                        0|                               1|                                  0|                        0|                     0|                   0|                       1|                      0|
|2008|          Myanmar|          South Asia|                    4|                 141|                       4|          3|                                       6|                     10|                8|            10|       3|                               10|                                 0|                       4|                     5|      7|                       5|                    121|                                     4|                           5|                             0|                    0|                             0|           8|                          4|                                          0|                        0|                                        0|                               1|                                  0|                        0|                     0|                   0|                       3|                    141|
|2008|           Angola|   SubSaharan Africa|                    5|                 139|                       4|          3|                                       8|                      7|                8|            10|       3|                                7|                                10|                       7|                     0|     10|                       5|                    133|                                     2|                           0|                             2|                    0|                             1|           3|                          7|                                          1|                        1|                                        0|                               5|                                  3|                        2|                     4|                   5|                       4|                    138|
|2008|             Chad|   SubSaharan Africa|                    5|                 138|                       4|          3|                                       4|                      3|                4|            10|       6|                                8|                                10|                       6|                    10|      2|                       5|                    130|                                     0|                           0|                             0|                    2|                             0|           8|                          7|                                          0|                        1|                                        3|                               4|                                  6|                        5|                     6|                   3|                       4|                    136|
|2008|   Congo, Dem. R.|   SubSaharan Africa|                    5|                 136|                       4|          3|                                       6|                      9|                6|            10|       3|                                6|                                 0|                       5|                    10|      2|                       5|                    131|                                     8|                           3|                             0|                    0|                             0|           6|                          6|                                          2|                        2|                                        0|                               5|                                  2|                        4|                     2|                   4|                       5|                    135|
|2008|        Venezuela|Latin America & t...|                    5|                 136|                       4|          3|                                       9|                     10|                6|            10|       8|                                7|                                 6|                       7|                    10|     10|                       6|                    108|                                     0|                           8|                             3|                    1|                             1|           6|                          3|                                          1|                        2|                                        2|                               3|                                  3|                        3|                     4|                   2|                       4|                    140|
|2008|          Algeria|Middle East & Nor...|                    5|                 134|                       4|          4|                                       7|                      7|                8|             5|       5|                                4|                                 6|                       6|                     0|      2|                       5|                    135|                                     0|                           0|                             4|                    4|                             0|           7|                          9|                                          7|                        6|                                        2|                               5|                                  5|                        4|                     6|                   5|                       5|                    130|
|2008|             Iran|Middle East & Nor...|                    5|                 134|                       4|          4|                                       7|                      7|                8|             5|       1|                                4|                                 0|                       5|                     0|      2|                       4|                    141|                                     6|                           7|                             5|                    0|                             0|           4|                          4|                                          5|                        5|                                        0|                               4|                                  8|                        4|                     5|                   6|                       5|                    124|
|2008|         Ethiopia|   SubSaharan Africa|                    5|                 133|                       4|          4|                                       7|                      3|                5|            10|       8|                                6|                                 0|                       5|                     0|     10|                       5|                    134|                                     0|                           7|                             4|                    4|                             1|           8|                          2|                                          3|                        4|                                        3|                               5|                                  6|                        7|                     7|                   6|                       5|                    131|
|2008|            Syria|Middle East & Nor...|                    5|                 132|                       4|          4|                                       7|                      7|                8|            10|       5|                                9|                                 0|                       4|                     0|      0|                       5|                    139|                                     2|                          10|                             3|                    5|                             0|           8|                          6|                                          7|                        6|                                        3|                               5|                                  8|                        5|                     7|                   5|                       5|                    125|
|2008|         Pakistan|          South Asia|                    5|                 131|                       4|          3|                                       4|                      7|                6|             5|       3|                                8|                                10|                       7|                     0|      0|                       5|                    140|                                     6|                          10|                             3|                    3|                             0|           8|                          5|                                          7|                        6|                                        5|                               6|                                  2|                        5|                     5|                   5|                       5|                    121|
|2008|       Mauritania|   SubSaharan Africa|                    5|                 130|                       4|          3|                                       8|                      3|                5|            10|       5|                                7|                                10|                       7|                     0|      0|                       5|                    138|                                     8|                           5|                             6|                    4|                             0|           8|                          8|                                          4|                        5|                                        4|                               6|                                  4|                        6|                     6|                   5|                       5|                    113|
|2008|   Congo, Rep. Of|   SubSaharan Africa|                    5|                 129|                       4|          3|                                       6|                      7|                6|            10|       6|                                9|                                10|                       8|                    10|      7|                       6|                    107|                                     2|                           4|                             3|                    0|                             0|           6|                          8|                                          2|                        2|                                        0|                               4|                                  2|                        6|                     7|                   6|                       4|                    137|
|2008|Central Afr. Rep.|   SubSaharan Africa|                    5|                 128|                       4|          3|                                       9|                      5|                5|            10|       5|                                7|                                10|                       7|                    10|      7|                       5|                    120|                                     4|                           5|                             0|                    0|                             0|           9|                          8|                                          1|                        1|                                        0|                               4|                                  3|                        4|                     6|                   5|                       5|                    132|

+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+--------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+--------------------------------------+----------------------------+------------------------------+---------------------+------------------------------+------------+---------------------------+-------------------------------------------+-------------------------+-----------------------------------------+--------------------------------+-----------------------------------+-------------------------+----------------------+--------------------+------------------------+-----------------------+
|Year|           Countries|              Region|HUMAN FREEDOM (Score)|HUMAN FREEDOM (Rank)|HUMAN FREEDOM (Quartile)|Rule of Law|Disappearances, Conflicts, and Terrorism|Women Security & Safety|Security & Safety|Women Movement|Movement|Legal and Regulatory Restrictions|State Control over Internet Access|Expression & Information|Same Sex Relationships|Divorce|PERSONAL FREEDOM (Score)|PERSONAL FREEDOM (Rank)|Government  enterprises and investment|Top marginal income tax rate|Legal enforcement of contracts|Reliability of police|Gender Legal Rights Adjustment|Money growth|Inflation: Most recent year|Compliance costs of importing and exporting|Regulatory trade barriers|Foreign ownership/investment restrictions|Freedom to trade internationally|Hiring regulations and minimum wage|Labour market regulations|Licensing restrictions|Business regulations|ECONOMIC FREEDOM (Score)|ECONOMIC FREEDOM (Rank)|
+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+--------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+--------------------------------------+----------------------------+------------------------------+---------------------+------------------------------+------------+---------------------------+-------------------------------------------+-------------------------+-----------------------------------------+--------------------------------+-----------------------------------+-------------------------+----------------------+--------------------+------------------------+-----------------------+
|2017|             Albania|      Eastern Europe|                    7|                  38|                       1|       null|                                      10|                   null|                9|          null|      10|                             null|                                10|                       8|                  null|   null|                       8|                     46|                                     8|                           9|                             4|                    6|                             0|           9|                          9|                                          9|                        7|                                        6|                               8|                                  5|                        6|                     6|                   6|                       7|                     30|
|2017|             Algeria|Middle East & Nor...|                    4|                 155|                       4|       null|                                       8|                   null|                7|          null|       5|                             null|                                 7|                       7|                  null|   null|                       5|                    146|                                     0|                           7|                             4|                    6|                             0|           6|                          8|                                          0|                        2|                                        3|                               2|                                  5|                        5|                     8|                   5|                       4|                    159|
|2017|              Angola|   SubSaharan Africa|                    5|                 151|                       4|       null|                                       8|                   null|                8|          null|       6|                             null|                                 7|                       6|                  null|   null|                       5|                    121|                                     6|                          10|                             2|                    3|                             0|           9|                          3|                                          2|                        3|                                        2|                               3|                                 10|                        5|                     8|                   4|                       4|                    158|
|2017|           Argentina|Latin America & t...|                    6|                  77|                       2|       null|                                       8|                   null|                8|          null|      10|                             null|                                10|                       8|                  null|   null|                       8|                     41|                                     6|                           7|                             3|                    3|                             0|           5|                          4|                                          5|                        4|                                        5|                               6|                                  2|                        5|                     5|                   5|                       5|                    147|
|2017|             Armenia|Caucasus & Centra...|                    7|                  54|                       2|       null|                                       9|                   null|                9|          null|       8|                             null|                                 7|                       7|                  null|   null|                       7|                     72|                                     8|                           5|                             5|                    5|                             1|           8|                          9|                                          9|                        7|                                        5|                               8|                                  6|                        6|                     9|                   6|                       7|                     27|
|2017|           Australia|             Oceania|                    8|                   5|                       1|          7|                                       9|                   null|                9|          null|      10|                             null|                                10|                       9|                     5|     10|                       9|                     12|                                    10|                           6|                             6|                    8|                             1|           8|                          9|                                          8|                        7|                                        6|                               7|                                  8|                        7|                     8|                   8|                       8|                      9|
|2017|             Austria|      Western Europe|                    8|                  13|                       1|          8|                                       9|                   null|                9|            10|      10|                             null|                                10|                       9|                    10|     10|                       9|                      8|                                    10|                           4|                             6|                    8|                             1|           8|                          9|                                          9|                        8|                                        6|                               8|                                  8|                        5|                     7|                   7|                       7|                     26|
|2017|          Azerbaijan|Caucasus & Centra...|                    6|                 121|                       3|          4|                                       9|                     10|                9|            10|       8|                                5|                                 7|                       4|                     0|      7|                       6|                    119|                                     0|                           9|                             7|                    6|                             0|           9|                          7|                                          8|                        7|                                        6|                               7|                                  8|                        6|                     9|                   7|                       6|                    116|
|2017|             Bahamas|Latin America & t...|                    7|                  48|                       2|          6|                                      10|                     10|                6|            10|      10|                                6|                                 0|                       8|                    10|     10|                       7|                     48|                                     7|                          10|                             4|                    0|                             0|           8|                          9|                                          8|                        7|                                        0|                               6|                                  8|                        8|                     7|                   7|                       7|                     58|
|2017|             Bahrain|Middle East & Nor...|                    6|                  95|                       3|          5|                                       7|                      5|                7|             2|       4|                                4|                                 2|                       4|                     5|      0|                       5|                    126|                                    10|                          10|                             4|                    7|                             0|           9|                          9|                                          6|                        6|                                        7|                               7|                                  8|                        7|                     8|                   8|                       7|                     50|
|2017|          Bangladesh|          South Asia|                    5|                 138|                       4|          3|                                       6|                      5|                7|            10|       6|                                4|                                 7|                       6|                     5|      0|                       5|                    142|                                     7|                           8|                             0|                    3|                             0|           9|                          8|                                          0|                        3|                                        5|                               5|                                 10|                        7|                     6|                   4|                       6|                    123|
|2017|            Barbados|Latin America & t...|                    7|                  66|                       2|          6|                                      10|                     10|                8|             2|       7|                                7|                                 0|                    null|                     0|     10|                       7|                     57|                                     6|                           7|                             3|                    0|                             0|           6|                          9|                                          5|                        5|                                        6|                               6|                                  8|                        8|                     4|                   6|                       6|                    112|
|2017|             Belarus|      Eastern Europe|                    6|                  92|                       3|          5|                                       9|                     10|                9|            10|       8|                                4|                                 5|                    null|                    10|     10|                       6|                     91|                                    10|                          10|                             6|                    0|                             0|           8|                          8|                                          9|                        7|                                        0|                               6|                                 10|                        7|                     8|                   7|                       6|                     99|
|2017|             Belgium|      Western Europe|                    8|                  23|                       1|          7|                                       9|                     10|                9|            10|      10|                                6|                                10|                    null|                    10|     10|                       9|                     14|                                    10|                           2|                             5|                    7|                             1|           8|                          9|                                          9|                        7|                                        7|                               8|                                  8|                        7|                     7|                   7|                       7|                     40|
|2017|              Belize|Latin America & t...|                    6|                  68|                       2|          4|                                      10|                     10|                6|             2|       7|                                8|                                 0|                    null|                    10|     10|                       7|                     74|                                     4|                           9|                             3|                    0|                             0|           9|                          9|                                          5|                        5|                                        7|                               6|                                  7|                        7|                     8|                   6|                       6|                     85|
|2017|               Benin|   SubSaharan Africa|                    6|                  85|                       3|          4|                                       9|                      7|                8|             2|       5|                                9|                                10|                    null|                    10|      7|                       7|                     62|                                     7|                           4|                          null|                    5|                             0|           7|                          9|                                          5|                        4|                                        5|                               6|                                  7|                        6|                     9|                   6|                       6|                    129|
|2017|              Bhutan|          South Asia|                    6|                 105|                       3|          6|                                       9|                     10|                9|            10|       3|                                5|                                 0|                    null|                     0|      2|                       6|                    111|                                     7|                           9|                          null|                    2|                             0|           8|                          9|                                          9|                        7|                                        3|                               6|                                 10|                        7|                     8|                   6|                       6|                     87|
|2017|             Bolivia|Latin America & t...|                    6|                  97|                       3|          3|                                       9|                      8|                8|            10|       8|                                8|                                10|                       8|                    10|     10|                       7|                     75|                                     0|                          10|                          null|                    2|                             0|           9|                          9|                                          3|                        3|                                        4|                               7|                                  1|                        3|                     5|                   3|                       6|                    126|
|2017|Bosnia and Herzeg...|      Eastern Europe|                    7|                  55|                       2|          5|                                       9|                      8|                9|            10|       8|                                7|                                10|                       8|                    10|     10|                       8|                     42|                                     4|                          10|                          null|                    4|                             0|           8|                          9|                                          9|                        7|                                        4|                               7|                                  5|                        7|                     7|                   5|                       6|                     92|

# 2.4 Data Quality

In [11]:
#to find count of null values column-wise
df_null_count = reduce(
    lambda a, b: a.union(b),
    (
        df.agg(
            F.count(F.when(F.isnull(c), c)).alias('NULL_Count')
        ).select(F.lit(c).alias("Column_Name"), "NULL_Count")
        for c in df.columns
    )
)

In [12]:
df_null_count.show(36)

+--------------------+----------+
|         Column_Name|NULL_Count|
+--------------------+----------+
|                Year|         0|
|           Countries|         0|
|              Region|         0|
|HUMAN FREEDOM (Sc...|         0|
|HUMAN FREEDOM (Rank)|         0|
|HUMAN FREEDOM (Qu...|         0|
|         Rule of Law|         5|
|Disappearances, C...|         0|
|Women Security & ...|         7|
|   Security & Safety|         0|
|      Women Movement|         6|
|            Movement|         0|
|Legal and Regulat...|         7|
|State Control ove...|         0|
|Expression & Info...|         6|
|Same Sex Relation...|         5|
|             Divorce|         5|
|PERSONAL FREEDOM ...|         0|
|PERSONAL FREEDOM ...|         0|
|Government  enter...|         0|
|Top marginal inco...|         0|
|Legal enforcement...|         8|
|Reliability of po...|         8|
|Gender Legal Righ...|         0|
|        Money growth|         0|
|Inflation: Most r...|         0|
|Compliance costs ...|         0|
|Regulatory trade ...|         0|
|Foreign ownership...|         0|
|Freedom to trade ...|         0|
|Hiring regulation...|         0|
|Labour market reg...|         0|
|Licensing restric...|         0|
|Business regulations|         0|
|ECONOMIC FREEDOM ...|         0|
|ECONOMIC FREEDOM ...|         0|
+--------------------+----------+

In [13]:
#Counting number of columns of dataset1
len(df.columns)

36

# data cleaning

# filling null values with mean

In [14]:
df.select('Year','Countries','Same Sex Relationships','Rule of Law','Women Security & Safety','Women Movement','Legal and Regulatory Restrictions','Expression & Information','Divorce','Legal enforcement of contracts','Reliability of police').show(10)

+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
|Year| Countries|Same Sex Relationships|Rule of Law|Women Security & Safety|Women Movement|Legal and Regulatory Restrictions|Expression & Information|Divorce|Legal enforcement of contracts|Reliability of police|
+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
|2017|   Albania|                  null|       null|                   null|          null|                             null|                       8|   null|                             4|                    6|
|2017|   Algeria|                  null|       null|                   null|          null|                             null|                       7|   null|                             4|                    6|
|2017|    Angola|                  null|       null|                   null|          null|                             null|                       6|   null|                             2|                    3|
|2017| Argentina|                  null|       null|                   null|          null|                             null|                       8|   null|                             3|                    3|
|2017|   Armenia|                  null|       null|                   null|          null|                             null|                       7|   null|                             5|                    5|
|2017| Australia|                     5|          7|                   null|          null|                             null|                       9|     10|                             6|                    8|
|2017|   Austria|                    10|          8|                   null|            10|                             null|                       9|     10|                             6|                    8|
|2017|Azerbaijan|                     0|          4|                     10|            10|                                5|                       4|      7|                             7|                    6|
|2017|   Bahamas|                    10|          6|                     10|            10|                                6|                       8|     10|                             4|                    0|
|2017|   Bahrain|                     5|          5|                      5|             2|                                4|                       4|      0|                             4|                    7|
+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
only showing top 10 rows

In [15]:
from pyspark.sql.functions import mean
#Finding the mean of column Same Sex Relationships
mean_value = df.select(mean(df['Same Sex Relationships'])).collect()

#filling the missing value with the mean.
mean_Same_Sex_Relationships_value = mean_value[0][0]
df = df.na.fill(mean_Same_Sex_Relationships_value, subset=['Same Sex Relationships'])

In [16]:
#df.filter(df['Year'] == '2017').select('Year','Countries','Same Sex Relationships').show(10)

In [17]:
#filling the missing value with the mean for column "Women Security & Safety"
mean_value2 = df.select(mean(df['Women Security & Safety'])).collect()

mean_Women_Security_Safety_value = mean_value2[0][0]
df1 = df.na.fill(mean_Women_Security_Safety_value, subset=['Women Security & Safety'])

df1.filter(df['Year'] == '2017').select('Year','Countries','Women Security & Safety').show(10)

+----+----------+-----------------------+
|Year| Countries|Women Security & Safety|
+----+----------+-----------------------+
|2017|   Albania|                      7|
|2017|   Algeria|                      7|
|2017|    Angola|                      7|
|2017| Argentina|                      7|
|2017|   Armenia|                      7|
|2017| Australia|                      7|
|2017|   Austria|                      7|
|2017|Azerbaijan|                     10|
|2017|   Bahamas|                     10|
|2017|   Bahrain|                      5|
+----+----------+-----------------------+
only showing top 10 rows

In [18]:
#filling the missing value with the mean for column "Rule of law"
mean_value1 = df.select(mean(df['Rule of Law'])).collect()

mean_Rule_of_Law_value = mean_value1[0][0]
df2 = df1.na.fill(mean_Rule_of_Law_value, subset=['Rule of Law'])

df2.filter(df['Year'] == '2017').select('Year','Countries','Rule of Law', ).show(10)

+----+----------+-----------+
|Year| Countries|Rule of Law|
+----+----------+-----------+
|2017|   Albania|          4|
|2017|   Algeria|          4|
|2017|    Angola|          4|
|2017| Argentina|          4|
|2017|   Armenia|          4|
|2017| Australia|          7|
|2017|   Austria|          8|
|2017|Azerbaijan|          4|
|2017|   Bahamas|          6|
|2017|   Bahrain|          5|
+----+----------+-----------+
only showing top 10 rows

In [19]:
#filling the missing value with the mean for column "Women Movement"
mean_value3 = df.select(mean(df['Women Movement'])).collect()

mean_Women_Movement_value = mean_value1[0][0]
df3 = df2.na.fill(mean_Women_Movement_value, subset=['Women Movement'])

df3.filter(df['Year'] == '2017').select('Year','Countries','Women Movement').show(10)

+----+----------+--------------+
|Year| Countries|Women Movement|
+----+----------+--------------+
|2017|   Albania|             4|
|2017|   Algeria|             4|
|2017|    Angola|             4|
|2017| Argentina|             4|
|2017|   Armenia|             4|
|2017| Australia|             4|
|2017|   Austria|            10|
|2017|Azerbaijan|            10|
|2017|   Bahamas|            10|
|2017|   Bahrain|             2|
+----+----------+--------------+
only showing top 10 rows

In [20]:
#filling the missing value with the mean for column "Legal and Regulatory Restrictions"
mean_value4 = df.select(mean(df['Legal and Regulatory Restrictions'])).collect()

mean_Legal_and_RegulatoryRestrictions_value = mean_value4[0][0]
df4 = df3.na.fill(mean_Legal_and_RegulatoryRestrictions_value, subset=['Legal and Regulatory Restrictions'])

df4.filter(df['Year'] == '2017').select('Year','Countries','Legal and Regulatory Restrictions').show(10)

+----+----------+---------------------------------+
|Year| Countries|Legal and Regulatory Restrictions|
+----+----------+---------------------------------+
|2017|   Albania|                                6|
|2017|   Algeria|                                6|
|2017|    Angola|                                6|
|2017| Argentina|                                6|
|2017|   Armenia|                                6|
|2017| Australia|                                6|
|2017|   Austria|                                6|
|2017|Azerbaijan|                                5|
|2017|   Bahamas|                                6|
|2017|   Bahrain|                                4|
+----+----------+---------------------------------+
only showing top 10 rows

In [21]:
#filling the missing value with the mean for column "Divorce"
mean_value5 = df.select(mean(df['Divorce'])).collect()

mean_Divorce_value = mean_value5[0][0]
df5 = df4.na.fill(mean_Divorce_value, subset=['Divorce'])

In [22]:
#filling the missing value with the mean for column "Legal enforcement of contracts"
mean_value6 = df.select(mean(df['Legal enforcement of contracts'])).collect()

mean_Legal_enforcement_of_contracts_value = mean_value6[0][0]
df6 = df5.na.fill(mean_Legal_enforcement_of_contracts_value, subset=['Legal enforcement of contracts'])

In [23]:
#filling the missing value with the mean for column "Reliability of police"
mean_value7 = df.select(mean(df['Reliability of police'])).collect()

mean_Reliability_of_police_value = mean_value7[0][0]
df7 = df6.na.fill(mean_Reliability_of_police_value, subset=['Reliability of police'])

In [24]:
#filling the missing value with the mean for column "Expression & Information"
mean_value8 = df.select(mean(df['Expression & Information'])).collect()

mean_Expression_Information_value = mean_value8[0][0]
df8 = df7.na.fill(mean_Expression_Information_value, subset=['Expression & Information'])

In [25]:
#Counting number of columns of dataset1
len(df.columns)

36

In [26]:
#data after replacing null value with mean
df8.select('Year','Countries','Same Sex Relationships','Rule of Law','Women Security & Safety','Women Movement','Legal and Regulatory Restrictions','Expression & Information','Divorce','Legal enforcement of contracts','Reliability of police').show(10)

+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
|Year| Countries|Same Sex Relationships|Rule of Law|Women Security & Safety|Women Movement|Legal and Regulatory Restrictions|Expression & Information|Divorce|Legal enforcement of contracts|Reliability of police|
+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
|2017|   Albania|                     7|          4|                      7|             4|                                6|                       8|      7|                             4|                    6|
|2017|   Algeria|                     7|          4|                      7|             4|                                6|                       7|      7|                             4|                    6|
|2017|    Angola|                     7|          4|                      7|             4|                                6|                       6|      7|                             2|                    3|
|2017| Argentina|                     7|          4|                      7|             4|                                6|                       8|      7|                             3|                    3|
|2017|   Armenia|                     7|          4|                      7|             4|                                6|                       7|      7|                             5|                    5|
|2017| Australia|                     5|          7|                      7|             4|                                6|                       9|     10|                             6|                    8|
|2017|   Austria|                    10|          8|                      7|            10|                                6|                       9|     10|                             6|                    8|
|2017|Azerbaijan|                     0|          4|                     10|            10|                                5|                       4|      7|                             7|                    6|
|2017|   Bahamas|                    10|          6|                     10|            10|                                6|                       8|     10|                             4|                    0|
|2017|   Bahrain|                     5|          5|                      5|             2|                                4|                       4|      0|                             4|                    7|
+----+----------+----------------------+-----------+-----------------------+--------------+---------------------------------+------------------------+-------+------------------------------+---------------------+
only showing top 10 rows

# data construction

In [27]:
#creating new colum 
df = df.withColumn('Inflation', df['Money growth']+df['Inflation: Most recent year'])
df.select('Inflation').show()

+---------+
|Inflation|
+---------+
|       18|
|       14|
|       12|
|        9|
|       17|
|       17|
|       17|
|       16|
|       17|
|       18|
|       17|
|       15|
|       16|
|       17|
|       18|
|       16|
|       17|
|       18|
|       17|
|       18|
+---------+
only showing top 20 rows

In [28]:
df.columns

['Year',
 'Countries',
 'Region',
 'HUMAN FREEDOM (Score)',
 'HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)',
 'Rule of Law',
 'Disappearances, Conflicts, and Terrorism',
 'Women Security & Safety',
 'Security & Safety',
 'Women Movement',
 'Movement',
 'Legal and Regulatory Restrictions',
 'State Control over Internet Access',
 'Expression & Information',
 'Same Sex Relationships',
 'Divorce',
 'PERSONAL FREEDOM (Score)',
 'PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment',
 'Top marginal income tax rate',
 'Legal enforcement of contracts',
 'Reliability of police',
 'Gender Legal Rights Adjustment',
 'Money growth',
 'Inflation: Most recent year',
 'Compliance costs of importing and exporting',
 'Regulatory trade barriers',
 'Foreign ownership/investment restrictions',
 'Freedom to trade internationally',
 'Hiring regulations and minimum wage',
 'Labour market regulations',
 'Licensing restrictions',
 'Business regulations',
 'ECONOMIC FREEDOM (Score)',
 'ECONOMIC FREEDOM (Rank)',
 'Inflation']

# outliers detection and treatment

In [131]:
#Identifying outliers in attribute"Regulatory trade barriers"

df1 = df.filter(df['Regulatory trade barriers'] < 1).select('Regulatory trade barriers')
df1.count()

45

In [127]:
#Identifying outliers in attribute "Regulatory trade barriers"
df2 = df.filter(df['Regulatory trade barriers'] > 8.5).select('Regulatory trade barriers')
df2.count()

10

In [43]:
df.count()

1569

In [132]:
#Removing outliers in attribute "Regulatory trade barriers"
c1 = df.filter(df['Regulatory trade barriers'] < 8.5).select('Year','Countries','Region','HUMAN FREEDOM (Score)','HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)','Rule of Law','Disappearances, Conflicts, and Terrorism','Women Security & Safety','Security & Safety',
 'Women Movement','Movement','Legal and Regulatory Restrictions','State Control over Internet Access','Expression & Information',
 'Same Sex Relationships','Divorce','PERSONAL FREEDOM (Score)','PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment','Top marginal income tax rate','Legal enforcement of contracts',
 'Reliability of police','Gender Legal Rights Adjustment','Money growth','Inflation: Most recent year',
 'Compliance costs of importing and exporting','Regulatory trade barriers','Foreign ownership/investment restrictions',
 'Freedom to trade internationally','Hiring regulations and minimum wage','Labour market regulations',
 'Licensing restrictions','Business regulations','ECONOMIC FREEDOM (Score)','ECONOMIC FREEDOM (Rank)','Inflation')
c1.count()

1559

In [133]:
#Removing outliers in attribute "Regulatory trade barriers"
c2 = c1.filter(df['Regulatory trade barriers'] > 1).select('Year','Countries','Region','HUMAN FREEDOM (Score)','HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)','Rule of Law','Disappearances, Conflicts, and Terrorism','Women Security & Safety','Security & Safety',
 'Women Movement','Movement','Legal and Regulatory Restrictions','State Control over Internet Access','Expression & Information',
 'Same Sex Relationships','Divorce','PERSONAL FREEDOM (Score)','PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment','Top marginal income tax rate','Legal enforcement of contracts',
 'Reliability of police','Gender Legal Rights Adjustment','Money growth','Inflation: Most recent year',
 'Compliance costs of importing and exporting','Regulatory trade barriers','Foreign ownership/investment restrictions',
 'Freedom to trade internationally','Hiring regulations and minimum wage','Labour market regulations',
 'Licensing restrictions','Business regulations','ECONOMIC FREEDOM (Score)','ECONOMIC FREEDOM (Rank)','Inflation')
c2.count()

1492

In [113]:
#Identifying outliers in attribute 'Women Movement'

df1 = df.filter(df['Money growth'] < 4).select('Money growth')
df1.count()

7

In [135]:
#Identifying outliers in attribute 'Women Movement'
df2 = df.filter(df['Money growth'] > 8.9).select('Money growth')
df2.count()

630

In [71]:
#Removing outliers in attribute 'Women Movement'
c3 = c2.filter(df['Regulatory trade barriers'] > 4).select('Year','Countries','Region','HUMAN FREEDOM (Score)','HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)','Rule of Law','Disappearances, Conflicts, and Terrorism','Women Security & Safety','Security & Safety',
 'Women Movement','Movement','Legal and Regulatory Restrictions','State Control over Internet Access','Expression & Information',
 'Same Sex Relationships','Divorce','PERSONAL FREEDOM (Score)','PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment','Top marginal income tax rate','Legal enforcement of contracts',
 'Reliability of police','Gender Legal Rights Adjustment','Money growth','Inflation: Most recent year',
 'Compliance costs of importing and exporting','Regulatory trade barriers','Foreign ownership/investment restrictions',
 'Freedom to trade internationally','Hiring regulations and minimum wage','Labour market regulations',
 'Licensing restrictions','Business regulations','ECONOMIC FREEDOM (Score)','ECONOMIC FREEDOM (Rank)','Inflation')
c3.count()

1170

In [116]:
#Identifying outliers in attribute 'Business regulations'

df3 = df.filter(df['Business regulations'] < 2.2).select('Business regulations')
df3.count()

49

In [103]:
#Identifying outliers in attribute 'Business regulations'
df4 = df.filter(df['Business regulations'] > 8 ).select('Business regulations')
df4.count()

12

In [119]:
#Removing outliers in attribute 'Business regulations'
c4 = df.filter(df['Business regulations'] < 8).select('Year','Countries','Region','HUMAN FREEDOM (Score)','HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)','Rule of Law','Disappearances, Conflicts, and Terrorism','Women Security & Safety','Security & Safety',
 'Women Movement','Movement','Legal and Regulatory Restrictions','State Control over Internet Access','Expression & Information',
 'Same Sex Relationships','Divorce','PERSONAL FREEDOM (Score)','PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment','Top marginal income tax rate','Legal enforcement of contracts',
 'Reliability of police','Gender Legal Rights Adjustment','Money growth','Inflation: Most recent year',
 'Compliance costs of importing and exporting','Regulatory trade barriers','Foreign ownership/investment restrictions',
 'Freedom to trade internationally','Hiring regulations and minimum wage','Labour market regulations',
 'Licensing restrictions','Business regulations','ECONOMIC FREEDOM (Score)','ECONOMIC FREEDOM (Rank)','Inflation')
c4.count()

1404

In [125]:
#Removing outliers in attribute 'Business regulations'
c5 = c4.filter(df['Business regulations'] > 0).select('Year','Countries','Region','HUMAN FREEDOM (Score)','HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)','Rule of Law','Disappearances, Conflicts, and Terrorism','Women Security & Safety','Security & Safety',
 'Women Movement','Movement','Legal and Regulatory Restrictions','State Control over Internet Access','Expression & Information',
 'Same Sex Relationships','Divorce','PERSONAL FREEDOM (Score)','PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment','Top marginal income tax rate','Legal enforcement of contracts',
 'Reliability of police','Gender Legal Rights Adjustment','Money growth','Inflation: Most recent year',
 'Compliance costs of importing and exporting','Regulatory trade barriers','Foreign ownership/investment restrictions',
 'Freedom to trade internationally','Hiring regulations and minimum wage','Labour market regulations',
 'Licensing restrictions','Business regulations','ECONOMIC FREEDOM (Score)','ECONOMIC FREEDOM (Rank)','Inflation')
c5.count()

1368

# 3.4 integrating data

In [37]:
#merging 2 data sets
#Loading datasets
dataset1 = spark.read.csv('HumanHappiness - bdas 1 (Dataset 1).csv', inferSchema=True, header=True)
dataset2 = spark.read.csv('HumanHappiness - bdas 1 (Dataset 2).csv', inferSchema=True, header=True)
#Printing the types of attributes
dataset1.printSchema()
dataset2.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Countries: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- HUMAN FREEDOM (Score): double (nullable = true)
 |-- HUMAN FREEDOM (Rank): integer (nullable = true)
 |-- HUMAN FREEDOM (Quartile): integer (nullable = true)
 |-- Rule of Law: double (nullable = true)
 |-- Disappearances, Conflicts, and Terrorism: double (nullable = true)
 |-- Women Security & Safety: double (nullable = true)
 |-- Security & Safety: double (nullable = true)
 |-- Women Movement: double (nullable = true)
 |-- Legal and Regulatory Restrictions: double (nullable = true)
 |-- State Control over Internet Access: double (nullable = true)
 |-- Expression & Information: double (nullable = true)
 |-- Same Sex Relationships: integer (nullable = true)
 |-- Divorce: double (nullable = true)
 |-- PERSONAL FREEDOM (Score): double (nullable = true)
 |-- PERSONAL FREEDOM (Rank): integer (nullable = true)

root
 |-- Countries: string (nullable = true)
 |-- Government  enterprises and investment: integer (nullable = true)
 |-- Top marginal income tax rate: integer (nullable = true)
 |-- Legal enforcement of contracts: double (nullable = true)
 |-- Reliability of police: double (nullable = true)
 |-- Gender Legal Rights Adjustment: double (nullable = true)
 |-- Money growth: double (nullable = true)
 |-- Inflation: Most recent year: double (nullable = true)
 |-- Compliance costs of importing and exporting: double (nullable = true)
 |-- Regulatory trade barriers: double (nullable = true)
 |-- Foreign ownership/investment restrictions: double (nullable = true)
 |-- Freedom to trade internationally: double (nullable = true)
 |-- Hiring regulations and minimum wage: double (nullable = true)
 |-- Labour market regulations: double (nullable = true)
 |-- Licensing restrictions: double (nullable = true)
 |-- Business regulations: double (nullable = true)
 |-- ECONOMIC FREEDOM (Score): double (nullable = true)
 |-- ECONOMIC FREEDOM (Rank): integer (nullable = true)

In [38]:
#Counting number of rows of dataset1
dataset1.count()

1569

In [105]:
#Counting number of columns of dataset1
len(dataset1.columns)

18

In [106]:
#Counting number of rows of dataset2
dataset2.count()

1569

In [107]:
#Counting number of columns of dataset2
len(dataset2.columns)

18

In [108]:
#Appending two datasets
concat = dataset1.union(dataset2)
concat.show()

+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+
|Year|           Countries|              Region|HUMAN FREEDOM (Score)|HUMAN FREEDOM (Rank)|HUMAN FREEDOM (Quartile)|Rule of Law|Disappearances, Conflicts, and Terrorism|Women Security & Safety|Security & Safety|Women Movement|Legal and Regulatory Restrictions|State Control over Internet Access|Expression & Information|Same Sex Relationships|Divorce|PERSONAL FREEDOM (Score)|PERSONAL FREEDOM (Rank)|
+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+
|2017|             Albania|      Eastern Europe|                 7.84|                38.0|                     1.0|       null|                                    10.0|                   null|      9.276666667|          null|                             null|                              10.0|             8.607142857|                  null|   null|             8.005411457|                     46|
|2017|             Algeria|Middle East & Nor...|                 4.99|               155.0|                     4.0|       null|                             8.865434414|                   null|      7.773896003|          null|                             null|                               7.5|             7.311802542|                  null|   null|             5.201489165|                    146|
|2017|              Angola|   SubSaharan Africa|                  5.4|               151.0|                     4.0|       null|                             8.876403002|                   null|      8.145554414|          null|                             null|                               7.5|             6.452380952|                  null|   null|             5.979935733|                    121|
|2017|           Argentina|Latin America & t...|                 6.86|                77.0|                     2.0|       null|                                     8.5|                   null|             8.82|          null|                             null|                              10.0|             8.738095238|                  null|   null|             8.044599873|                     41|
|2017|             Armenia|Caucasus & Centra...|                 7.42|                54.0|                     2.0|       null|                                     9.5|                   null|      9.096666667|          null|                             null|                               7.5|             7.154761905|                  null|   null|             7.145017434|                     72|
|2017|           Australia|             Oceania|                 8.62|                 5.0|                     1.0| 7.77627878|                             9.955016951|                   null|      9.878338984|          null|                             null|                              10.0|             9.392857143|                   5.0|   10.0|             9.160532748|                     12|
|2017|             Austria|      Western Europe|                 8.48|                13.0|                     1.0|8.171748815|                             9.984844293|                   null|      9.907585478|          10.0|                             null|                              10.0|             9.333333333|                  10.0|   10.0|             9.245685425|                      8|
|2017|          Azerbaijan|Caucasus & Centra...|                 6.22|               121.0|                     3.0|4.291270376|                             9.214499299|                   10.0|      9.471499766|          10.0|                      5.461111111|                               7.5|             4.011904762|                   0.0|    7.5|              6.10466079|                    119|
|2017|             Bahamas|Latin America & t...|                 7.56|                48.0|                     2.0|6.400790273|                                    10.0|                   10.0|      6.666666667|          10.0|                      6.433333333|                               0.0|             8.895833333|                  10.0|   10.0|             7.871204513|                     48|
|2017|             Bahrain|Middle East & Nor...|                 6.63|                95.0|                     3.0|5.898037535|                             7.535230178|                    5.0|      7.441903866|           2.5|                      4.022222222|                               2.5|             4.130952381|                   5.0|    0.0|             5.910895403|                    126|
|2017|          Bangladesh|          South Asia|                 5.77|               138.0|                     4.0|3.132892486|                             6.953118287|                    5.0|      7.024372762|          10.0|                      4.211111111|                               7.5|             6.995904411|                   5.0|    0.0|              5.36557342|                    142|
|2017|            Barbados|Latin America & t...|                 7.02|                66.0|                     2.0|6.699287431|                                    10.0|                   10.0|              8.6|           2.5|                      7.544444444|                               0.0|                    null|                   0.0|   10.0|             7.589752413|                     57|
|2017|             Belarus|      Eastern Europe|                 6.65|                92.0|                     3.0|5.128924941|                                     9.0|                   10.0|      9.188711522|          10.0|                      4.488888889|                               5.0|                    null|                  10.0|   10.0|             6.659028163|                     91|
|2017|             Belgium|      Western Europe|                 8.29|                23.0|                     1.0|7.751100945|                             9.981257603|                   10.0|      9.767085868|          10.0|                      6.061111111|                              10.0|                    null|                  10.0|   10.0|             9.067694851|                     14|
|2017|              Belize|Latin America & t...|                 6.95|                68.0|                     2.0|4.268872009|                                    10.0|                   10.0|      6.666666667|           2.5|                      8.516666667|                               0.0|                    null|                  10.0|   10.0|             7.118363836|                     74|
|2017|               Benin|   SubSaharan Africa|                 6.77|                85.0|                     3.0|4.180309414|                                     9.5|                   7.05|      8.703333333|           2.5|                      9.633333333|                              10.0|                    null|                  10.0|    7.5|             7.469386877|                     62|
|2017|              Bhutan|          South Asia|                 6.53|               105.0|                     3.0|6.187897766|                                     9.5|                   10.0|             9.62|          10.0|                      5.088888889|                               0.0|                    null|                   0.0|    2.5|             6.286279997|                    111|
|2017|             Bolivia|Latin America & t...|                 6.61|                97.0|                     3.0|3.051401851|                                     9.5|                   8.75|      8.576641171|          10.0|                      8.933333333|                              10.0|             8.416666667|                  10.0|   10.0|              7.07482557|                     75|
|2017|Bosnia and Herzeg...|      Eastern Europe|                 7.37|                55.0|                     2.0|5.470080395|                                     9.0|                   8.75|             9.09|          10.0|                      7.127777778|                              10.0|             8.654761905|                  10.0|   10.0|             8.040348141|                     42|
|2017|            Botswana|   SubSaharan Africa|                 7.17|                60.0|                     2.0|5.641683932|                                    10.0|                   8.75|      7.578237213|           2.5|                      8.238888889|                               0.0|                  7.8125|                   0.0|    5.0|             6.970084453|                     81|
+----+--------------------+--------------------+---------------------+--------------------+------------------------+-----------+----------------------------------------+-----------------------+-----------------+--------------+---------------------------------+----------------------------------+------------------------+----------------------+-------+------------------------+-----------------------+
only showing top 20 rows

# 3.1 Data Selection

In [39]:
#Dropping column 
df.drop('Movement', 'Reliability of police', 'Licensing restrictions').columns

['Year',
 'Countries',
 'Region',
 'HUMAN FREEDOM (Score)',
 'HUMAN FREEDOM (Rank)',
 'HUMAN FREEDOM (Quartile)',
 'Rule of Law',
 'Disappearances, Conflicts, and Terrorism',
 'Women Security & Safety',
 'Security & Safety',
 'Women Movement',
 'Legal and Regulatory Restrictions',
 'State Control over Internet Access',
 'Expression & Information',
 'Same Sex Relationships',
 'Divorce',
 'PERSONAL FREEDOM (Score)',
 'PERSONAL FREEDOM (Rank)',
 'Government  enterprises and investment',
 'Top marginal income tax rate',
 'Legal enforcement of contracts',
 'Gender Legal Rights Adjustment',
 'Money growth',
 'Inflation: Most recent year',
 'Compliance costs of importing and exporting',
 'Regulatory trade barriers',
 'Foreign ownership/investment restrictions',
 'Freedom to trade internationally',
 'Hiring regulations and minimum wage',
 'Labour market regulations',
 'Business regulations',
 'ECONOMIC FREEDOM (Score)',
 'ECONOMIC FREEDOM (Rank)',
 'Security_total']

In [72]:
#df8.write.format('com.databricks.spark.csv').save('Preeeeeeeeee1-HumanHappiness - bdas 1.csv')